#footer {
    height: 30px !important;
}

.t-footer-wrapper {
    padding: 0 !important;
}

#site-main {
    margin-bottom: 0 !important;
}

.t-netbar-curseInfo, .p-feedback,
footer div[class^='t-footer-curse'],
#footer-push,
#reply .help-block {
    display: none !important;
}

